<app-header (toggle)="toggleSidebar()">
  <app-likes-totales
    likesTotales
    [likeTotales$]="getLikeTotales()"
  ></app-likes-totales>
</app-header>
<mat-drawer-container>
  <mat-drawer mode="side" #sidebar [opened]="isOpenSidebar">
    <app-sidebar (fetchNoticias)="fetchNoticias()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-container>
    <main class="main">
      <h1>Noticias</h1>
      <ng-container *ngIf="(noticias$ | async)!.length > 0; else noNoticias">
        <app-noticia
          *ngFor="let noticia of noticias$ | async; let i = index"
          [noticia]="noticia"
          (like)="addLike(i)"
        ></app-noticia>
      </ng-container>

      <ng-template #noNoticias>
        <h2>Ups! no hay noticias hace click en obtener noticias</h2>
      </ng-template>
    </main>
  </mat-drawer-container>
</mat-drawer-container>
